/* Created by ARDORA - http://www.webardora.net */
body{
font-family:Georgia, Serif;
background-image:url("images/cuadricula.gif");
background-position:center;
background-repeat:repeat;
background-color:#F9F9F7;
	text-align:justify; font-weight:normal;width: calc(100% - 20px);--c_color:#0099FF;--c_over:#38ABFF;}
#header{margin:0px;border-color:var(--c_over);border-width:2px;border-style:solid;background-color:var(--c_color);height:80px;padding:0px;box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);width: calc(100% - 20px);}
#header h1{margin-top:0px;margin-bottom:0px;margin-left:5px;color:#FFFFFF;font-size:26px;width:60%;}
#header h2{margin-top:0px;margin-left:5px;margin-bottom:0px;color:#000000;font-size:16px;width:60%;}
#header h3{margin-top:5px;margin-right:5px;margin-bottom:0px;float:right;}
#header h4{margin-top:0px;}
#header h4 a{margin-top:0px;text-decoration: none;float:right;background:var(--c_color);color:#FFFFFF;padding-left:10px;padding-right:10px;padding-bottom:4px;padding-top:0px;}
#header h4 a:hover{background:#FFFFFF;color:var(--c_color);text-decoration: none;}
#menu{margin-top:5px;margin-bottom:5px;border-color:var(--c_over);border-width:2px;border-style:solid;background-color:var(--c_color);padding:0px 0px 5px 0px;float:left;width:150px;box-shadow:4px 4px 4px rgba(50, 50, 50, 0.5);}
#menu h1{margin-top:5px;margin-left:5px;margin-bottom:0px;color:#000000;font-size:18px;font-size:16px;}
#menu a{margin-top:0px;margin-left:5px;margin-bottom:0px;margin-right:5px;background:var(--c_color);color:#FFFFFF;text-decoration:none;font-size:14px;}
#menu a:hover{background:#FFFFFF;color:var(--c_color);border:none;text-decoration: none;}
#areaContido{ margin-top:0px;margin-left: 5px;float:left;flex:1;}
#areaContido h1{ margin-left:10px;margin-top:5px; font-size:20px;margin-bottom:0px;}
#areaContido h2{ margin-left:10px; font-size:20px; font-weight:normal; width:830px; margin:0px;}
#areaContido h3{display:flex;margin:2px;border-color:var(--c_color);border-width:1px;border-style:solid;box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); }
#areaContido a{ font-size:16px; text-decoration:none;text-transform:uppercase; color:#000000;}
#areaContido a:hover{text-decoration:none;text-transform:uppercase;background-color:var(--c_over);color:#FFFFFF;}
.lista{display:list-item; list-style:none;}
#footer{margin-top:15px;border-color:var(--c_over);border-width:2px;border-style:solid;background-color:var(--c_color);padding:0px;clear:both;box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);height: 41px;width: calc(100% - 20px);}
#footer p{font-size:14px;margin:0px;}
body{min-width: 300px;min-height: 300px;overflow: hidden;}
#page{width:calc(100% - 20px);}
#page, #content, #areacontido {min-height: 75px;overflow: hidden;}
#content{display:flex;}
#suggestPost{
top:0;right:0;
position: fixed;height:25px;width:25px;}
#suggestPost a:hover{
background-image:url(images/bAvaliaSD2.png);
height:25px;width:25px;}
#suggestPost a{cursor: pointer;
background-image:url(images/bAvaliaSD.png);
display:block;height:25px;width:25px;}
object{overflow:hidden;}
#backmodal{background-color:rgba(0,0,0, 0.5);text-align:center;}
#modalw{font-size: 20px;display: inline-table;margin-top:10%;padding: 25px;text-align:justify;font-family: sans-serif;background-color:rgba(255,255,255,1)}
#cancelbut, #okbut{border-radius:8px;font-size: 28px;color: white;margin-top: 10px; cursor: pointer;}
#cancelbut:hover, #okbut:hover{box-shadow: inset 0px 0px 20px rgba(0,0,0,1);}
#cancelbut{padding: 2px 5px 5px 5px;background-color: red;float: left;}
#okbut{padding: 2px 8px 5px 8px;background-color: green;float:right;}
